
<div class="mt-3 text-center">

<% if @post.errors.any? %>
<div class="error_explanation">
    <h5><%= pluralize(@post.errors.count, 'error') %> que han evitado que el usuario sea guardado: </h5>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% else %>
<h1>Felicitaciones, el post ha sido guardado!</h1>
<% end %>

    <button class="bg-success border-0 mt-5">
        <%= link_to "Volver a Publicaciones", posts_index_path, :class => "btn link" %>
    </button>
</div>